{% extends "layout.html" %}

{% block header %}
  <div class="container">
    <header class="row page-header">
      <h1>{{data.team.name}}<small> // {{data.class.number}} &ndash; {{data.class.semester}}</small></h1>
    </header>
  </div> <!-- /container -->
{% endblock %}

{% block main %}
  <h4>CUSTOMER INTERVIEWS</h4>
    {% for conversationSlug, conversation in data.conversations %}
      {% set conversation = conversation %}
      {% include "partials/conversation-summary.html" %}
    {% endfor %}
  <hr>
  <h4>UPDATES</h4>
  {% for updateKey, update in data.updates %}
    {% set update = update.update %}
    {% include "partials/update-summary.html" %}
  {% endfor %}

{% endblock %}
